.sidebar{
    // width: 16%;
    width: 230px;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}
.logo {
    margin-bottom: 53px;
    span{
        color: #013CC6;
        font-size: 24px;
        font-weight: 500;
        margin-left: 29px;
    }
}
.nav{
    display: flex;
    flex-direction: column;
    gap: 6px;
    a{
        padding-left: 41px;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        align-items: center;
        gap: 16px;
        width: 230px;
        // transition: width 2s ease;

        // svg{
        //     fill: #013CC6;
        //     fill: #0B63F8;
        // }
        &:hover{
            border-left: 3px solid #0B63F8;
            padding-left: 38px;
            background-color: #cbdbf6;
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        // & + span:hover{
        //     color: #013CC6;
        // }
        span{
            color: #666;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.32px;
            &:hover{
                color: #0B63F8;
            }
        }

    }
}
.help{
    margin-top: 90%;
    a{
        display: flex;
        align-items: center;
        gap: 16px;
        // padding-left: 31px;
        padding: 10px 0 10px 41px;
        
        &:hover{
            border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
            background-color: #9fc2ff;
        }
        span{
            color: #666;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.32px;
            &:hover{
                color: #000;
            }
        }
    }
}